.mb-30 {margin-bottom:30px}
.mb-20 {margin-bottom:20px}
.mtb-30 {margin-top:-30px !important}
.text-center {text-align:center}
.views-field.views-field-field-processes-image { margin-bottom: 30px;}
.views-field-name h4{font-weight:600 !important}
.customer-needs-icon-box  .views-col {margin-bottom:30px}
.footer-first .block-title {text-align:center}
.video-popup  .modal-body iframe {width:100% !important}
.event .field-content p{padding: 5px 5px 0;text-align: center;font-weight: 400;text-transform: normal;font-size: 13px;}
.views-field-field-event-image {margin-bottom:30px}
.video-popup { position: relative !important; z-index: 1090 !important;}
.processes-listings .views-col, .Industry-Listing .views-col{margin-bottom: 30px;}
.portfolio-v1:hover .portfolio-content { opacity: 1;filter: alpha(opacity=100);}
.portfolio-v1 .portfolio-content {opacity: 1 !important;}
.portfolio-v1 .portfolio-content:after { -webkit-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1) !important;}
.portfolio-filter {display:none}
 h4 {font-weight:600 !important}
.hr {margin-top: 25px;margin-bottom: 25px;border: 0;border-top: 1px solid #d9dada;}
.block-title-border {margin: 0;border-bottom: 1px solid #d9dada;padding: 0;margin: 0 0 20px;position: relative;}
.block-title-border span { padding: 10px 0; display: inline-block;}
.btn-read-more {background: #fff;color: #feb800;border-color: #feb800;margin-top: 10px;}
.products-page-product { background: #f8f8f8 !important; padding: 20px;border-radius: 4px;margin: 0 0 20px 0;}
.products-page-product p{min-height:230px}
.products-details-page ul {list-style-type: circle;list-style: inherit;color: #AC973C;padding-left: 32px;margin-bottom: 43px;}
.image-size-420-170 {width:420px;height:160px}
.aboutus-list ul li.view-list-item {-webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.1);box-shadow: 0 1px 6px rgba(0,0,0,0.1); background: #fff;display: block;margin-bottom: 20px; width: 100%;margin-right: 0;padding-right: 0;border: 1px solid #f9efef;}
.aboutus-list ul li.view-list-item .views-field-name{padding: 10px;}
.aboutus-list ul {padding: 2px !important; }
.post-block .post-meta {margin-bottom: 12px;}
.views-field-field-event-data .field-content {margin-bottom: 8px;}
header .header-main .container {width: 1400px;} 
header .area-main-menu .area-inner {padding-left: 0px !important;}
.navigation .gva_menu > li > a {font-size: 12px !important;}
.navigation .gva_menu .megamenu > .sub-menu > li > a {font-size: 11px !important;}
header.header-v1 .site-branding-logo {padding-top: 6px;}
a.button.medium {font-size: 13px;line-height: 13px;padding: 10px 20px 9px 20px;}
a.button.blue-btn {background-color: #004b85; border-color: #004b85; color: #fff;}
.navigation .gva_menu .megamenu > .sub-menu > li > a { padding: 0 0 0px !important; }
.breadcrumb-content-inner .gva-breadcrumb-content .gva-block-breadcrumb.text-light .breadcrumb-links li a { color: #333;}
.breadcrumb-content-inner .gva-breadcrumb-content .gva-block-breadcrumb.text-white .breadcrumb-links li, .breadcrumb-content-inner .gva-breadcrumb-content .gva-block-breadcrumb.text-light .breadcrumb-links li { color: #ad923c;}
.breadcrumb-content-inner .gva-breadcrumb-content .gva-block-breadcrumb.text-light * {color: #333;}
.breadcrumb-content-inner .gva-breadcrumb-content .breadcrumb-links nav.breadcrumb li {font-size: 14px;font-weight: 600;}
.breadcrumb-content-inner .gva-breadcrumb-content .gva-block-breadcrumb .breadcrumb-style { min-height: 15px !important; }
.breadcrumb-content-inner { text-align: left !important;}
@media (max-width: 1330px) and (min-width: 992px){
header .header-main .container { width: 1300px;}
.navigation .gva_menu > li > a {font-size: 11px !important;}
header .area-main-menu .area-inner {padding-left: 0px !important;}
.navigation .gva_menu {float: left;}
header.header-v1 .site-branding-logo {padding-top: 6px !important;}
}
@media (max-width: 1265px) and (min-width: 992px){
	.navigation .gva_menu > li > a {font-size: 10px !important;}
}
@media (max-width: 1200px) and (min-width: 992px){
	.navigation .gva_menu > li > a {font-size: 10px !important;padding: 32px 4px !important;}
	header.header-v3 .header-inner {padding-right: 4px !important;}
	header .header-main .container  .header-main-inner .p-static {margin-left: -15px !important;}
} 

